In [4]:
for i in range(1, 10):
    for j in range(1, i):
        print('*', end ="")
    print()

*
**
***
****
*****
******
*******
********

In [13]:
text = input()

while (text != 'Done') and (text != 'done') and (text != 'd'):
    for i in range(len(text)):
        print(text[len(text) - 1 - i], end='')
    print()
    text = input()

Hello there
ereht olleH
Hey
yeH
done

In [3]:
import pandas as pd
scores = pd.rread_csv("http://data-analytics.zybooks.com/ExamScores.csv")
prinnt(scores[['Exam1', 'Exam2', 'Exam3', 'Exam4']].corr())

          Exam1     Exam2     Exam3     Exam4
Exam1  1.000000  0.078613  0.256859  0.261306
Exam2  0.078613  1.000000  0.271642  0.318124
Exam3  0.256859  0.271642  1.000000  0.277656
Exam4  0.261306  0.318124  0.277656  1.000000